!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= SocketChat.config.site_title
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      %link{:href => "//html5shim.googlecode.com/svn/trunk/html5.js", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/js/head.load.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      head.js('//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', '/js/jquery-wiggle.js', "#{faye_js_path}", '/js/bootstrap.min.js', '/js/main.js');
  %body
    .topbar
      = partial(:topbar)
    .container
      .content
        - flash_messages
        = yield
        %footer
          %p © Gray #{Date.today.year}
